* {
  margin: 0;
  padding: 0;
  list-style: none;
}
img {
  max-width: 100%;
  display: block;
}
.slide-wrapper {
  overflow: hidden;
}
.slide {
  display: flex;
}
.slide::hover li {
  will-change: transform;
}
.slide li {
  width: 80vw;
  flex-shrink: 0;
  max-width: 800px;
  border-radius: 4px;
  overflow: hidden;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
  margin: 0 20px;
  transform: scale(0.8);
  transition: all 0.4s;
}
.slide li.active {
  opacity: 1;
  transform: scale(1);
}
