* {
  margin: 0;
  padding: 0;
  list-style: none;
}
img {
  max-width: 100%;
  display: block;
}
.slide-wrapper {
  overflow: hidden;
}
.slide {
  display: flex;
}
.slide::hover li {
  will-change: transform;
}
.slide li {
  width: 80vw;
  flex-shrink: 0;
  max-width: 800px;
  border-radius: 4px;
  overflow: hidden;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
  margin: 0 20px;
  transform: scale(0.8);
  transition: all 0.4s;
}
.slide li.active {
  opacity: 1;
  transform: scale(1);
}
.arrow-nav {
  display: flex;
  justify-content: space-around;
  margin-top: 20 0;
}
.arrow-nav button {
  cursor: pointer;
  border: none;
  font-size: large;
  border-radius: 4px;
  color: white;
  width: 40px;
  height: 40px;
  background: #fb5 url("../img/arrow.svg") no-repeat center center;
}
.arrow-nav button:hover {
  background-color: #e04e3d;
}
.arrow-nav button.prev {
  transform: rotate(180deg);
}
.custom-control {
  display: flex;
  justify-content: center;
  margin-top: 40px;
  margin-bottom: 20px;
  flex-wrap: wrap;
}
.custom-control li {
  opacity: 0.8;
  transform: scale(0.8);
  width: 40px;
  height: 40px;
  border-radius: 50%;
  overflow: hidden;
  margin: 2px;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.5);
}
.custom-control li.active {
  opacity: 1;
  transform: scale(1);
}
